.square {
  height: 50px;
  width: 50px;
}

.col:nth-child(odd) .square:nth-child(odd) {
  background-color: #CCCCCC;
}
.col:nth-child(odd) .square:nth-child(even){
  background-color: #888888;
}

.col:nth-child(even) .square:nth-child(even) {
  background-color: #CCCCCC;
}
.col:nth-child(even) .square:nth-child(odd){
  background-color: #888888;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.col {
  display: flex;
  flex-direction: row;
}

.piece {
  display: block;
  margin: auto;
}
